
.main_card_div{
    width: 100%;
    min-height: 400px;
}

.separate_project_div{
    height: 100%;
    display: grid;
    grid-template-columns:10% 32% 10% auto ;
    /* background-color: aqua; */
    gap:20px;
}



.separate_project_div>div{
    min-height: 100%;
    background-color: rgb(25, 23, 23);
}

.block{
    margin: 0 18%;
    width: 100px;
}

.project_description_block{
    margin-right: 20px;
}

.tech_stack_print{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 10px;
}

.tech_stack_print>p , .project_description_block>a>button{
    background-color: crimson;
    padding: 2px 2px; 
    border-radius: 5px;  
}


.project_description_block>p ,.project_description_block>h2{
    text-align: left;
    margin-left: 10px;
}

.project_description_block>p{
    
    margin-top: 50px; 
}

.project_description_block>a>button{
    margin-left: -84%;
    cursor: pointer;
    color: azure;
}

