body{
    background-color: rgb(29, 32, 33);
    /* background-image: var(--back_gradient); */
    /* background-image: url('../../../Images/stars-1654074_1920.jpg'); */
    background-size: cover;
    color: azure;
    /* background-image: linear-gradient(rgb(131, 255, 255),black); */
    height: 780px;

}

:root{
    --class1red: rgb(230, 98, 98);
    /* --class1red: rgb(253, 204, 183); */
}

:root{
    --back_gradient:linear-gradient(
        90deg,
        rgb(219, 250, 255),
        rgb(234, 223, 240),
        rgb(219, 250, 255),
        rgb(253, 204, 183)
    );
}


div:nth-child(2){
    /* height: 200px; */
}

#myprojects_div{
    margin-top: 50px;
}

.topic_display{
    font: bold;
    font-size: 30px;
    color: rgb(107, 102, 102);
}

#myprojects_div>span{
    margin-left: 10px;
    position: relative;
}

.to_project_arrow{
    position: absolute;
    right: 49.6%;
    color: azure;
}

.basic_info_div{
    margin-top: -50px;
}