.footer_main_div{
    /* background-color: black;  */
    /* margin-top: 400px; */
    position: relative;
    width: 100%;
    height: 180px;
    color: rgb(0, 0, 0);
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% ); */
    text-align: left;
    background-image: url('./../../Images/Frame\ 1.svg');
    background-size: 100% ;
    background-repeat: no-repeat;
    overflow: hidden;
    bottom: -200px;
}

.dancing_script_cursive {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  color: beige;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute;
  bottom: 5px;
  left:10px
}

.jump_to_top_button{
  position: absolute;
  border: none;
  right: 400px;
  bottom: 50px;
  color: rgb(4, 30, 13);
  scale: 2.0;
  background-color: inherit;
  max-width: fit-content;
  
}

.jump_to_top_button:hover{
  cursor: pointer;
  text-decoration: underline;
  
}

.info_content>span{
  color: rgb(94, 94, 94);
}


.info_content{
  display: flex;
  flex-direction:column;
  /* position: relative; */
  /* align-items: center; */
  width: fit-content;
  flex-wrap: wrap;
  margin-left: 30%;
}

.info_content>*{
  padding-left: 0px;
}

.bright_content{
  color: rgb(51, 7, 7);
}


.bright_content>a:hover{
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
.bright_content>a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.info_content>a{
  color: azure;
}


.dancing_script_cursive{
  color: rgb(0, 0, 0);
}


@media screen and (max-width:580px){
  .footer_main_div{
    background-size: 100% 120%;
    width: auto;
    background-image: url('./../../Images/Frame\ 1.svg');
    margin-bottom: 120px;
  }
}

