    

.top_nav{
    /* background-color:  rgb(9, 10, 15); */
    height: 60px;
    /* margin-top: 50px; */
    display: flex;
    flex-direction: row;
    top: 0; 
    justify-content: center;
}

.top_nav>button{
    border: none;
    height: 100%;
    /* background-color:rgb(2, 2, 3) ; */
    color:black;
    font-size: 15px;
    text-decoration: black;
    background-color:  inherit;
    font-family:cursive;
}

.split{
    border: none;
    height: 100%;
    /* background-color:rgb(2, 2, 3) ; */
    color:black;
    font-size: 15px;
    text-decoration: black;
    background-color:  inherit;
    font-family:cursive;
}

.split:hover{
    background-color: rgb(200, 207, 255);
    cursor: pointer;   
}
.top_nav>button:hover{
    background-color: rgb(200, 207, 255);
    cursor: pointer;
}

.dropdown_menu{
    position: relative;
    background-color: var(--class1red);
    max-height: 70px;
    display: flex;  
    opacity: 0;
    flex-direction: column;
    transition: all 0.5s;
    pointer-events: none;
}
.dropdown_menu>a{
    text-align: left;
}

.dropdown_menu>a:hover{
    
    text-decoration: underline;
    /* background-color: azure; */
}

.dropdown_menu>a>span{
    text-decoration: none;
}

.linked_in_span{
    background-image: url('../../../public/linkedin.png');
}


