    

.top_nav{
    /* background-color:  rgb(9, 10, 15); */
    height: 60px;
    /* margin-top: 50px; */
    display: flex;
    flex-direction: row;
    top: 0; 
    justify-content: flex-end;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);    
}


.top_nav>button{
    border: none;
    height: 100%;
    /* background-color:rgb(2, 2, 3) ; */
    color:azure;
    
    /* color: rgb(116, 116, 255); */
    font-size: 15px;
    text-decoration: black;
    background-color:  inherit;
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.dropdown{
    position: absolute;
    left: 5px;
    top : 10px;
    color: azure;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    overflow: hidden;
}
.dropdown>a{
    color: azure;
}

.top_nav>button:hover{
    cursor: pointer;
    text-decoration: underline;
    transition: all 1.2ms;
    /* margin-top: 5px; */
}

.material_icons_header{
    height: 40px;
    width: 50px;
    color: rgb(0, 0, 0);
    /* background-color: rgb(255, 9, 9); */
}

