span{
    color: rgb(0, 0, 0);
}


.overall_info_div{
    margin-top:100px;
    margin-left:50px;
    max-width:fit-content;
    display:flex;
    flex-direction:row;
    height: auto;
    flex: 40% auto;;
    background-color: var(--class1red);
    border-radius: 15px;
    transition: ease ;
    transition-delay: 10ms;
    background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
}

.overall_info_div:hover{
    opacity: 1;
}


.info_div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* width: 650px; */
    height: 350px;
    /* background-color: rgb(6, 71, 71); */
    flex-basis: 40%;
    margin-left: 140px;
    margin-top:50px
}


#info_para{
    text-align: left;
    font-family:monospace;
    font-size: 20px;
    width: 600px;
}

.img_div{
    flex-basis: 20%;
    /* flex-grow:  */
}


.hi_text{
    text-align: left;
    font-size: 65px;
    font-family: monospace;
    color: rgb(254, 245, 255);
}
