span{
    color: rgb(0, 0, 0);
}


.overall_info_div{
    max-width:fit-content;
    /* flex: ;; */
    background-image: linear-gradient(90deg, #a6c0fe 0%, #f68084 100%);
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 800px;
}



.info_div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* width: 650px; */
    height: 350px;
    /* margin-left: 380px; */
    margin-top:50px;
    /* overflow: hidden; */
}


#info_para{
    text-align: left;
    font-family:monospace;
    font-size: calc(13px + .5vw);
    width: 70%;
    padding-top: 50px;
    margin-left: 20px;
    color: rgb(79, 79, 79);
}

#info_para>*{
    /* overflow: hidden; */
}


.hi_text{
    align-self: flex-start;
    margin-left: 20px;
    font-size: 3vw;
    font-family: monospace;
    color: rgb(0, 0, 0);
    margin-top: 50px;
}

@media(max-width:600px) {
    .hi_text{
        font-size: 5vw;
    }
}


.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

#my_image_div{
    transform: scale(100%);
    width: 100vw;
    background: url('./../../Images/My_animated_pic.svg');
    background-repeat: no-repeat;
    position: relative;
    margin-top: 5%;
    margin-bottom: 10%;
}

@media screen and  (max-width:580px) {
.overall_info_div{
    max-width:fit-content;
    /* flex: ;; */
    background-image: linear-gradient(90deg, #a6c0fe 0%, #f68084 100%);
    display: flex;
    flex-direction: column;
    width: 100%;
}
}


#my_image_div2{
    transform: scale(50%);
    width: 70;
    /* height: 50vh; */
    background: url('./../../Images/My_animated_pic\ copy.svg');
    background-repeat: no-repeat;
    position: relative;
    margin-top: 5%;
    overflow: visible;
}