.top_exp_grid{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 5px;
    margin: 10px ;
    height: fit-content;
    background: radial-gradient(#631181, rgb(29, 32, 33),rgb(29, 32, 33));
    /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
    overflow: hidden;
}




.basic_info_grid{
    /* background-color: azure; */
    display: grid;
    grid-template-columns: auto auto;
    gap :10px;
    grid-template-rows: auto auto;
}

.basic_info_grid>div{
    background-color: rgb(25, 24, 24);
    /* border: 2px solid black; */
    height: 305px;
    /* width: 350px; */
    width: 100%;
    overflow:hidden;
}


.basic_info_grid>div:hover{
    /* box-shadow: rgb(68, 0, 93) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */

}

.data_spans>h3{
    margin-top: 25%;
    color: rgb(255, 255, 255);
    font-size: calc(12px+0.5vw);
}

.data_spans{
    color: rgb(107, 102, 102);
}

.exp_info_grid{
    display: grid;
    /* grid-template-columns: auto auto; */
    gap :10px;
    grid-template-rows: auto auto;
}

.exp_info_grid>div{
    background-color: rgb(25, 24, 24);
    height: 305px;
}

.year_heading{
    font-size: 30px;
    /* color: */
    color: rgb(225, 230, 234); 
    margin-left:-70%;
    margin-top: 0%;
}

.exp_data_spans{
    color: rgb(107, 102, 102);
}

.exp_info_grid>div:hover{
    /* box-shadow: rgb(68, 0, 93) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */

}

.year_heading2{
    font-size: 30px;
    /* color: */
    color: rgb(225, 230, 234); 
    margin-left:-60%;
    margin-top: 0%;
}


.hidden_left{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1200ms;
    width: 50%;
}

.hidden_right{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(+100%);
    transition: all 1200ms;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

