.main_outer_journey_grid{
    /* background-color: beige; */
    color: rgb(0, 0, 0);
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    font-family: cursive;
}

.main_line{
    border-left: 2px solid rgb(250, 0, 0);
    min-height: 150px; 
    margin-left: 0%;
}   


.dancing-script-discrfont {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 440;
  font-style: normal;
  font-size: 25px;
}

.journey_obj_grid_main{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-top: 0px;
}


.highlight_para{
    text-align: left;
    padding: 6px;
    /* border: solid rgb(255, 172, 172); */
    /* border-width: 1px; */
}


.org_p>span{
    position: absolute;
    left: 51%;
    color: rgb(27, 104, 171);
}

